/* font - face */
@font-face {
  font-family: "iran-yekan";
  src: url("../farsi-fonts/iran-yekan-400.eot") format("eot"),
    url("../farsi-fonts/iran-yekan-400.ttf") format("truetype"),
    url("../farsi-fonts/iran-yekan-400.woff2") format("woff2"),
    url("../farsi-fonts/iran-yekan-400.woff") format("woff");
}
button-Alphabetbutton-Alphabetbutton-Alphabetbutton-Alphabet
/* style body  */
body {
  font-family: "iran-yekan";
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  /* direction: rtl; */
}
/* style search  */
input[type="text"] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  direction: rtl;
  background-image: url("../images/photo_2021-06-05_15-42-44.jpg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  outline: none;
}
/* hover search */
input,
image:hover {
  cursor: pointer;
}
/* style button nav bar */
.button-Alphabet {
  /* background-color: red; */
  /* height: 55px; */
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
}
.button-Alphabet button {
  margin-top: 10px;
}
.btn {
  width: 40px;
  background-color: #ffc107;
}

.btn:hover {
  color: white;
  border: none;
  background-color: rgb(106, 0, 133);
}

/* caver-film */
#caver-film div {
  display: flex;
  justify-content: space-around;
}
#caver-film div img {
  border-radius: 20px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.18);
}

/* sliders   and list group*/

#list-group {
  width: 25%;
}

#list-group button:hover {
  background-color: rgb(19, 141, 255);
}

#silder-group {
  width: 70%;
}
#silder-group p {
  color: white;
}
#silder-group h5 {
  color: white;
}
#background-p {
  background-color: rgb(145, 145, 145);
}
.main-slider-list-group {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Suggested-videos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: yellow; */
  margin-bottom: 20px;
}
.boreder-Suggested-videos {
  border: 1px solid rgb(7, 6, 6);
  border-radius: 20px;
  margin-top: 20px;
}

.Suggested-videos img {
  margin-top: 20px;
  border-radius: 5px;
  width: 90px;
  height: 120px;
}

/* main film */

.cart-film {
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
}
.main-cart-film {
  margin-top: 20px;
  /* background-color: blue; */
}
.main-asli p {
  text-align: center;
}
.main-cart-film p {
  color: rgb(0, 0, 0);
  font-size: 30px;
  margin-right: 50px;
}
#style-card-film img {
  width: 150px;
  height: 250px;
}

/* Latest Movies */

.cart {
  display: flex;
  flex-direction: column;
  height: 100px;
}

.cart img {
  width: 50%;
  border-radius: 5px 5px 0 0;
}

.cart-content {
  width: 50%;
  background: #123abc;
  color: #fff;
  text-align: center;
  /* padding: 10px 24px; */
  border-radius: 0 0 5px 5px;
}

.cart-list {
  display: grid;
  padding: 30px;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}
/* style tooltip */

.back {
  background-color: rgb(255, 0, 157);
  text-align: center;
  margin-top: -1px;
  width: 150px;
}

/* akharin ghasmatha */
.back-1 {
  /* background-color: red; */
  width: 150px;
}

/* footear */
#style-footer {
  background-color: rgb(106, 0, 133);
}
.prent-footer-img-button {
  display: flex;
  justify-content: space-between;
}
.button-footer {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-footer .btn {
  background-color: rgb(155, 84, 149);
  height: 40px;
}

.button-footer .btn:hover {
  background-color: rgb(221, 221, 3);
}
* {
  margin: 0;
  padding: 0;
  font-family: "iran-yekan";
}

/* hovar images */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  border-radius: 0.5rem;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  border-radius: 0.5rem;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.icon-cart-film{

  margin-right: -44px;
}

.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* single-move */
.main-single-move {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.single-move {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-image: url(../images/MV5BMTg2MjM1MTA3NF5BMl5BanBnXkFtZTgwNjIyMzI3MTE@._V1_SX300.jpg);
  width: 70%;
}
.single-move p {
  color: white;
}
.single-move img {
  opacity: 500px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 250px;
  height: 300px;
}
.button-single-move {
  padding-bottom: 20px;
}
hr {
  margin-top: 50px;
}
.icon-icon-single-move {
  width: 200px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

/* akharin-bazdid  and Most viewers of the movie*/

.akharin-bazdid {
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid rgb(46, 44, 44);
  box-shadow: 3px #333030;
  width: 400px;
  height: 350px;
}
.akharin-bazdid-p {
  margin-right: 10px;
}

/* Information about the description of the actors and the videos  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  direction: rtl;
}
.tabs {
  width: 70%;
  height: 480px;
  border: 1px solid #f5f5f5;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.15);
}
.tabs .tab-body {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
  background-image: url(../images/MV5BMTg2MjM1MTA3NF5BMl5BanBnXkFtZTgwNjIyMzI3MTE@._V1_SX300.jpg);
}
.tabs .tab-body > div {
  position: absolute;
  padding: 20px;
  top: -100%;
  opacity: 0;
  transform: scale(0.85);
  transition: top 0ms ease-in-out 100ms transform 200ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms;
}
.tabs .tab-body > div.active {
  opacity: 1;
  transform: scale(1);
  top: 10px;
  transition: top 0ms ease-in-out 0ms, transform 200ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms;
}
.tabs .tab-body h1 {
  font-size: 40px;
  color: rgb(255, 255, 255);
}
.tabs .tab-body p {
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  font-size: 15px;
}
.tabs .tab-heder {
  position: relative;
  width: 100%;
  height: 60px;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  display: flex;
  align-items: center;
}
.tabs .tab-heder > div {
  width: 5%;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin: 10px;
}
.tabs .tab-heder > div:before {
  content: "";
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background: #5d84da;
  /* z-index:1 ; */
  transition: all 200ms ease-in-out;
}
.tabs .tab-heder > div i {
  color: rgb(17, 15, 15);
  font-size: 16px;
}
.tabs .tab-heder > div span {
  font-size: 10px;
  display: block;
  margin-top: 2px;
  color: #555;
  font-weight: 600;
}
.active :hover{
  color: black;
}
.tabs .tab-heder > div.active:before {
  transform: translate(-50%, -50%) scale(1);
}
.tabs .tab-heder > div.active i,
.tabs .tab-heder > div.active span {
  position: relative;
  /* z-index: 2; */
  color: #000000;
}
.list-active li{
  color: white;
  list-style: none;
}
.imag-baz img{
    border-radius: 100px;
    width: 130px;
    height: 130px;
}

.container-did{
  margin-top: 40px;
  margin-bottom:40px;
}


/* style icon image  */
.icon-cart-film span{
  color: rgb(255, 255, 255);
      height: 26px;
      text-align: center;
    background-color: #ffc107!important;
}

/* style toltip */
.flip-box #toltip{
    position: absolute;
    right: 50px;
    top:50%;
    transform: translateY(50%)translateX(0px);
    padding: 4px 6px;
    background: #fff;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s;
    -webkit-transform: translateY(-50%)translateX(0px);
    -moz-transform: translateY(-50%)translateX(0px);
    -ms-transform: translateY(-50%)translateX(0px);
    -o-transform: translateY(-50%)translateX(0px);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.flip-box #toltip::before{
  content: '';
  position: absolute;
  top:50%;
  right: -8px;
  width: 15px;
  height: 15px;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}
.flip-box:hover #toltip {
  opacity: 1;
}